<% form_tag catalog_index_path, :class => 'advanced', :method => :get do  %>

  <%= search_as_hidden_fields(:params => advanced_search_context ) %>  

  <div class="input_columns yui-g">
	      
    <div class="yui-u first">
      
      <div class="query_column column">
        <h2>Find items that match <%= select_tag(:op, options_for_select({'all'=>'AND','any'=>'OR'}.sort,'all')) %> of the fields below:</h2>
        
        <div id="advanced_search">
          <%= render 'advanced/advanced_search_fields' %>
        </div>        
      </div>
      
    </div>
  
    <div class="yui-u">
    
      <div class="limit_column column">      
        <h2><strong>AND</strong> have these attributes:</h2>
      
        <div id="advanced_search_facets" class="limit_input">
          <%= render 'advanced_search_facets' %>
        </div>
      </div>
    
    </div>
    
  </div>
  
  <% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
    <div class="constraints">
      <h4>Within search:</h4>
      <%= search_context_str %>
    </div>
  <% end %>
  
  
  <div class="sort_submit_buttons">
	<%= label_tag(:sort, "Sort results by") %> 
    <%= select_tag(:sort, options_for_select(Blacklight.config[:sort_fields],'')) %>
	<%= hidden_field_tag(:search_field, BlacklightAdvancedSearch.config[:url_key]) %>
    <%= submit_tag 'Search', :class=>'advanced_button', :id=>'advanced_search' %>
	<%= link_to "Start over", {:controller => "advanced", :action => "index"}, :class =>"reset advanced_button" %>
  </div>
<% end %>