<%# alternate version of facets on form that renders using multi-select.
    Has to copy and paste more code from blacklight than default, making
    it somewhat more fragile. 

    Logic taken from facets_helper_behavior.rb, #render_facet_partials and
    #render_facet_limit. 
%>

<% facets_from_request(facet_field_names).each do |display_facet| %>
    <% if should_render_facet?(display_facet) %>
        <div class="form-group advanced-search-facet">
            <%= label_tag display_facet.name.parameterize, :class => "col-sm-2 control-label" do %>
                <%= facet_field_label(display_facet.name) %>
            <% end %>            

            <div class="col-sm-10">
                <%= content_tag(:select, :multiple => true,                     
                    :name   => "f_inclusive[#{display_facet.name}][]",
                    :id     => display_facet.name.parameterize,
                    :class  => "form-control advanced-search-facet-select") do %>
                    <% display_facet.items.each do |facet_item| %>
                        <%= content_tag :option, :value => facet_item.value do %>
                            <%= facet_item.label %>&nbsp;&nbsp;(<%= number_with_delimiter facet_item.hits %>)
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>        
    <% end %>
<% end %>