<% form_tag catalog_index_path, :class => 'advanced', :method => :get do  %>
  <div id="advanced_form">
	<div id="adv_search_parent">
	  <div class="advanced_header">
	    <h2>Find items that match <%= select_tag(:op, options_for_select({'all'=>'AND','any'=>'OR'}.sort,'all')) %> of the fields below:</h2>
	  </div>
	  <div id="advanced_search">
	    <%= render 'advanced/advanced_search_fields' %>
	  </div>
	</div>
	<div id="adv_search_facets_parent">
	  <div class="advanced_header">
	    <h2>AND have these attributes:</h2>
	  </div>
      <div id="advanced_search_facets">
        <%= render 'advanced_search_facets' %>
	  </div>
	</div>
  </div>
  <div id="sort_submit_button">
	<%= label_tag(:sort, "Sort results by") %> 
    <%= select_tag(:sort, options_for_select(Blacklight.config[:sort_fields],'')) %>
	<%= hidden_field_tag(:search_field, BlacklightAdvancedSearch.config[:advanced][:search_field]) %>
    <%= submit_tag 'search', :class=>'advanced_button', :id=>'advanced_search' %>
	<script type="text/javascript">
	  $.fn.clearAdvancedForm = function() {
	  	$("form")[0].reset();
		$(".adv_facet_selections").each(function() {
		  $(this).children("span").text("");
		  $(this).attr("style","display:none;");
		});
	  };
	</script>
	<a href="" style="float:right;" onClick='$("form .advanced").clearAdvancedForm(); return false;'>clear form</a>
  </div>
<% end %>