<div id="appliedParams">

	<h3>You searched for:<%= image_tag "magnifying_glass.gif", :alt=>"search icon", :plugin=>'blacklight' %></h3>

	<span id="appliedQueries">
		<% unless @advanced_query.user_friendly.keyword_fields.empty? %>
		  <%- @advanced_query.user_friendly.each do |key,field| -%>
				<span class="appliedFilter">
					<span class="first">
						<span><%= h(field) %></span>
					</span>
					<%= link_to('',
						catalog_index_path(localized_params.merge(key=>nil,:action=>"index")),
						:class=>'btnRemove imgReplace',
	          :alt=>'x'
					) %>
					<%= image_tag "checkmark.gif", :alt=>"checkmark", :plugin=>'blacklight' %>
				</span>
				<%- unless key == @advanced_query.user_friendly.keyword_fields.last -%>
  				<span class="appliedFilter">
  					<span class="first">
  						<span><%= h(@advanced_query.op) %></span>
  					</span>
  				</span>	
				<%- end -%>
			<%- end -%>
		<% else %>
			<span class="appliedFilter"><span class="first"><span>No Keywords</span> </span></span>
		<% end %>
	</span>

	<% if @advanced_query.user_friendly.facets %>
		<span id="appliedFilters">
			<span id = "appliedFiltersList">
				<% @advanced_query.user_friendly.facets.each do |facet| %>
					<span class="appliedFilter">
						<span class="first">
							<span>
								<span class="filterName"><%= h(facet_field_labels[facet[:field]]) %></span>
								<span class="filterValue">
								  <%= facet[:or].join(" OR ") unless facet[:or].empty?  %>
								  <%= " AND " unless (facet[:or].empty? or facet[:and].empty?) %>
								  <%= facet[:and].join(" AND ") unless facet[:and].empty? %>
								</span>
							</span>
						</span>
						<%= image_tag "checkmark.gif", :alt=>"checkmark", :plugin=>'blacklight' %>
					</span>
				<% end %>
			</span>
		</span>
	<% end %>
	
	<div>
		<% if params[:action] == 'index' %>
			<%= page_entries_info @response.docs, :entry_name=>'item' %>
		<% else %>
			Showing <%= session[:search][:counter].to_i %> of <%= format_num(session[:search][:total]) %> items from your search.
		<% end %>
		<%=link_to "Start&nbsp;over&thinsp;", catalog_index_path, :id=>"startOverLink" %>
	</div>
	
</div>